atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.1
Chameleon==3.6.2
dnspython==1.16.0
gunicorn==19.9.0
hupper==1.9
importlib-metadata==0.23
Mako==1.1.0
MarkupSafe==1.1.1
more-itertools==7.2.0
packaging==19.2
PasteDeploy==2.0.1
pathlib2==2.3.5
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.0
py==1.8.0
Pygments==2.4.2
pymongo==3.9.0
pyparsing==2.4.2
pyramid==1.10.4
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.5
pyramid-mako==1.1.0
pytest==5.2.1
python-dotenv==0.10.3
repoze.lru==0.7
six==1.12.0
soupsieve==1.9.4
-e git+https://github.com/cybernetor066/spacenetng-webAppDynamic-VanillaJS-Pyramid@43d1fe123df519fcef34c20e1cae2ce4cb3337d7#egg=spacenetng
translationstring==1.3
venusian==1.2.0
waitress==1.4.3
wcwidth==0.1.7
WebOb==1.8.5
WebTest==2.0.33
zipp==0.6.0
zope.deprecation==4.4.0
zope.interface==4.6.0
